:root {
    --radius: 3px;
    --lightGray: #ccc;
}

body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    height: 100%;
}
@media (max-width: 768px) {
    body {
        margin: 0;
        min-height: 100vh;
    }
}

.markdown-display h1, 
.markdown-display h2, 
.markdown-display h3, 
.markdown-display h4,
.markdown-display h5,
.markdown-display h6 {
    margin-bottom: 0;
}

.border-top {
    border-top: 1px solid var(--lightGray);
}
.padding-top {
    padding-top: 1rem;
}

.container {
    background-color: white;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.31);
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* Login page: */
/* form.login {
    background-color: white;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.31);
    box-sizing: border-box;
} */
form.login h1 {
    text-align: center;
}
form.login p {
    text-align: center;
}
h1.note-title {
    color: #333;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input[type='password'] {
    width: 70%;
    padding: 1rem;
    font-size: 1.5em;
}
input[type='submit'] {
    font-size: 1.5em;
    padding: 1rem 2.5rem;
}
@media (max-width: 768px) {
    form.login {
        width: 100%;
    }
}

form.edit-file textarea {
    width: 100%;
    min-height: 300px;
}

.copyable + button {
    width: 2.3rem;
}

.copyable + button > img {
    height: 0.8rem;
}
